<div>
  <h3 class="fish-show-title">コメント</h3>
  <div id="comments">
    <% if @comments.length != 0 %>
      <% @comments.each do |comment| %>
        <p><%= comment.comment_text %> 【<%= comment.user.nickname %>】<%= l(comment.created_at, format: :long) %></p>
      <% end %>
    <% else %>
      <p>まだコメントはありません。</p>
    <% end %>
  </div>

  <%# ログイン済みならコメント投稿フォームを表示 %>
  <% if user_signed_in? %>
    <%= form_with model: @comment, url: record_comments_path(@record.id), method: :post, local: false  do |f| %>

      <%= f.text_field :comment_text, class:"form-control", placeholder:"（ここにコメントを記入してください）" %>
      <%= f.submit "コメントを投稿する", class:"btn btn-info mt-5" %>

    <% end %>
  <% end %>



<div>