<header class="header bg-primary">

<div class="title-container">
  <div class="title">
    <h1>
      <%= link_to 'Fishing Archive', root_path %>
    </h1>
  </div>

  <div class="user-container">
    <% if user_signed_in? %>

      <%= link_to destroy_user_session_path, method: :delete do %>
        <div class="user-btn border border-white rounded">
          ログアウト
        </div>
      <% end %>

      <div class="user-name">
        <%= current_user.nickname %>さん
      </div>

    <% else %>

      <%= link_to new_user_session_path do %>
        <div class="user-btn border border-white rounded">
          ログイン
        </div>
      <% end %>

      <%= link_to new_user_registration_path do %>
        <div class="user-btn border border-white rounded">
          新規登録
        </div>
      <% end %>

    <% end %>
  </div>
</div>

</header>



