<%= render "shared/header" %>

<div class="eyecatch">
  <div class="carousel slide" id="c1" data-ride="carousel" data-interval=3500>
    <ol class="carousel-indicators">
      <li data-target="#c1" data-slide-to="0" class="active"></li>
      <li data-target="#c1" data-slide-to="1"></li>
     <li data-target="#c1" data-slide-to="2"></li>
      <li data-target="#c1" data-slide-to="3"></li>
      <li data-target="#c1" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "top_img_1.jpg", class: "d-block w-300" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "top_img_2.jpg", class: "d-block w-300" %>
      </div>
     <div class="carousel-item">
        <%= image_tag "top_img_3.jpg", class: "d-block w-300" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "top_img_4.jpg", class: "d-block w-300" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "top_img_5.jpg", class: "d-block w-300" %>
      </div>
    </div>
    <a href="#c1" class="carousel-control-prev" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
      <span class="sr-only">前の画像へ</span>
    </a>
    <a href="#c1" class="carousel-control-next" data-slide="next">
      <span class="carousel-control-next-icon"></span>
      <span class="sr-only">次の画像へ</span>
    </a>
  </div>
</div>

<%= render "shared/postlink" %>

<%= render "shared/footer" %>