<%= render "shared/header" %>

<h2 class="fish-show-title">釣果投稿</h2>

<div class="new-container">
  <%# フォーム %>
  <%= form_with model: @fish_record, url: records_path, method: :post, local: true do |f| %>

    <%= render partial: "shared/error_messages", locals: { model: f.object } %>

    <%# タイトル %>
    <div class="form-group">
      <label>タイトル</label><span class="indispensable">必須</span>
      <%= f.text_field :title, class:"form-control", placeholder:"例)○×が釣れた" %>
    </div>
    <%# 釣行日 %>
    <div class="form-group">
      <label>釣行日</label><span class="indispensable">必須</span>
      <%= f.text_field :date, class:"form-control", placeholder:"例)2020/11/1" %>
    </div>
    <%# 都道府県 %>
    <div class="form-group">
      <label>都道府県</label><span class="indispensable">必須</span>
      <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"form-control", id:"record-prefecture"}) %>
    </div>
    <%# 場所(ポイント) %>
    <div class="form-group">
      <label>ポイント</label>
      <%= f.text_field :area, class:"form-control", placeholder:"例)東京湾" %>
    </div>
    <%# 場所(施設・船) %>
    <div class="form-group">
      <label>場所</label>
      <%= f.text_field :place, class:"form-control", placeholder:"例)○×丸、○×釣堀" %>
    </div>
    <%# 時間帯チェックボックス %>
    <div class="form-group">
      時間帯
      <div class="form-check">
        <%= f.check_box(:timing1, { class:"form-check-input" }, checked_value = "1", unchecked_value = "0") %>
        <label class="form-check-label">早朝(4〜7時)</label>
      </div>
      <div class="form-check">
        <%= f.check_box(:timing2, { class:"form-check-input" }, checked_value = "1", unchecked_value = "0") %>
        <label class="form-check-label">朝(7〜11時)</label>
      </div>
      <div class="form-check">
        <%= f.check_box(:timing3, { class:"form-check-input" }, checked_value = "1", unchecked_value = "0") %>
        <label class="form-check-label">昼(11〜13時)</label>
      </div>
      <div class="form-check">
        <%= f.check_box(:timing4, { class:"form-check-input" }, checked_value = "1", unchecked_value = "0") %>
        <label class="form-check-label">午後(13〜16時)</label>
      </div>
      <div class="form-check">
        <%= f.check_box(:timing5, { class:"form-check-input" }, checked_value = "1", unchecked_value = "0") %>
        <label class="form-check-label">夕方(16〜19時)</label>
      </div>
      <div class="form-check">
        <%= f.check_box(:timing6, { class:"form-check-input" }, checked_value = "1", unchecked_value = "0") %>
        <label class="form-check-label">夕夜(19〜0時)</label>
      </div>
      <div class="form-check">
        <%= f.check_box(:timing7, { class:"form-check-input" }, checked_value = "1", unchecked_value = "0") %>
        <label class="form-check-label">深夜(0〜4時)</label>
      </div>
    </div>
    <%# 天気 %>
    <div class="form-group">
      <label>天気</label>
      <%= f.collection_select(:weather_id, Weather.all, :id, :name, {}, {class:"form-control", id:"record-weather"}) %>
    </div>
    <%# 風 %>
    <div class="form-group">
      <label>風</label>
      <%= f.collection_select(:wind_id, Wind.all, :id, :name, {}, {class:"form-control", id:"record-wind"}) %>
    </div>
    <%# 気温 %>
    <div class="form-group">
      <label>気温</label><p class="font-text small">※XX.X度</p>
      <%= f.text_field :temperature, class:"form-control", placeholder:"例)20.5" %>
    </div>
    <%# 水温 %>
    <div class="form-group">
      <label>水温</label><p class="font-text small">※XX.X度</p>
      <%= f.text_field :water_temperature, class:"form-control", placeholder:"例)15.5" %>
    </div>
    <%# 波高 %>
    <div class="form-group">
      <label>波の高さ</label>
      <%= f.collection_select(:wave_id, Wave.all, :id, :name, {}, {class:"form-control", id:"record-wave"}) %>
    </div>
    <%# 水質 %>
    <div class="form-group">
      <label>水質</label>
      <%= f.collection_select(:water_quality_id, WaterQuality.all, :id, :name, {}, {class:"form-control", id:"record-waterquality"}) %>
    </div>
    <%# 潮汐 %>
    <div class="form-group">
      <label>潮汐</label>
      <%= f.collection_select(:tide_id, Tide.all, :id, :name, {}, {class:"form-control", id:"record-tide"}) %>
    </div>

    <%# 釣れた魚 %>
    <div class="form-group">
      <label>魚種【1】</label><span class="indispensable">必須</span>
      <%= f.text_field :fish_name, name: 'fish_record[fish_name][]', class:"form-control", placeholder: "例)サバ" %>

      <label>匹数【1】</label><span class="indispensable">必須</span>
      <%= f.text_field :fish_count, name: 'fish_record[fish_count][]', class:"form-control",placeholder: "例)15" %>
      <p class="font-text small">※釣れない場合は「ボウズ」、「0」匹を記入</p>
    </div>

    <div class="form-group">
      <label>魚種【2】</label>
      <%= f.text_field :fish_name, name: 'fish_record[fish_name][]', class:"form-control", placeholder: "例)アジ" %>

      <label>匹数【2】</label>
      <%= f.text_field :fish_count, name: 'fish_record[fish_count][]', class:"form-control",placeholder: "例)15" %>
    </div>

    <div class="form-group">
      <label>魚種【3】</label>
      <%= f.text_field :fish_name, name: 'fish_record[fish_name][]', class:"form-control", placeholder: "例)タチウオ" %>

      <label>匹数【3】</label>
      <%= f.text_field :fish_count, name: 'fish_record[fish_count][]', class:"form-control",placeholder: "例)15" %>
    </div>

    <div class="form-group">
      <label>魚種【4】</label>
      <%= f.text_field :fish_name, name: 'fish_record[fish_name][]', class:"form-control", placeholder: "例)ヒラマサ" %>

      <label>匹数【4】</label>
      <%= f.text_field :fish_count, name: 'fish_record[fish_count][]', class:"form-control",placeholder: "例)1" %>
    </div>

    <div class="form-group">
      <label>魚種【5】</label>
      <%= f.text_field :fish_name, name: 'fish_record[fish_name][]', class:"form-control", placeholder: "例)マダイ" %>

      <label>匹数【5】</label>
      <%= f.text_field :fish_count, name: 'fish_record[fish_count][]', class:"form-control",placeholder: "例)5" %>
    </div>

    <%# 詳細内容 %>
    <div class="form-group">
      <label>投稿内容</label><span class="indispensable">必須</span>
      <%= f.text_area :content, class:"form-control", id:"record-info", placeholder:"（必須 2,000文字まで）" ,rows:"14" ,maxlength:"2000" %>
    </div>

    <%# 画像 %>
    <div class="form-group">
      <%= f.file_field :images, name: 'fish_record[images][]', id: 'fish_record_image' %>
      <div id="image-list"></div>
    </div>

    <%# 下部ボタン %>
    <div>
      <%= f.submit "投稿する", class:"btn btn-info mt-5" %>
    </div>

  </div>
  <% end %>
</div>

<%= render "shared/footer" %>